@model IEnumerable<TestProject.Models.Trip>

@{
    ViewData["Title"] = "Passenger Trips";
}

<div class="page-header">
    <h1>Моите Пътувания</h1>

    <a href="/UserPanel" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Върни се обратно
    </a>
</div>

<partial name="_TripTablePartial" model="Model" />

