@model IEnumerable<TestProject.Models.Trip>

@{
    ViewData["Title"] = "Passenger Trips";
}

<div class="page-header">
    <h1>Моите Пътувания</h1>
   
       
</div>

<partial name="_TripTablePartial" model="Model" />

