@{
    ViewData["Title"] = "Driver Trips";
}

<p>
    <a asp-controller="Trips" asp-action="Create" asp-route-returnUrl="@Context.Request.Path">Създай ново пътешествие</a>
</p>

<partial name="_TripTablePartial" model="Model" />